.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: white;
  width: 100%;
}

.logo, .profile {
  font-size: 1.2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px 10px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  margin-right: 8px;
  font-size: 1rem;
}

.search-icon {
  cursor: pointer;
}
